.post{
    width: 100%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    margin: 30px 0;
}

.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border: 50%;
    object-fit: cover;
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin: 20px 0;
    
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.postBottom{
    display: flex;
    align-items: center;;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
    
    img{
        width: 30px;
        height: 30px;
        margin-right: 5px;
        cursor:pointer;
    }
    
}

.postLikeCounter{
    font-size: 15px;
    }

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;



}   